body {
    background-color: black;
    min-width: 1024px;
    min-height: 576px;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: sans-serif;
    color: white;
    overflow: hidden;
}
#character {
    position: absolute;
    background-image: url("/images/monkey_standing_1.png");
    width: 20px;
    height: 40px;
    background-color: red;
}
.playground {
    background-image: url("/images/main_menu_noname.png");
    background-size: cover;
    width: 1024px; 
    height: 576px;
}

#playButton {
    color: cyan;
    background-color: blueviolet;
    scale: 6;
    margin-right: 25%;
    margin-bottom: 50%;
}

.centered {
    z-index: 9999;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    overflow: hidden;
 }
 

#creditsButton {
    color: cyan;
    background-color: blueviolet;
    scale: 3;
    margin-right: 60%;
    margin-bottom: 5%;
}