body {
    background-color: black;
    min-width: 1280px;
    min-height: 720px;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: sans-serif;
    color: white;
    overflow: hidden;
    position: relative; /*TEST*/
}

#playground {
    position: relative;
    background-image: url("/images/levels/main_menu_gamename.png");
    background-size: cover;
    min-width: 1280px;
    min-height: 720px;
}


.centered {
    z-index: 9999;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    overflow: hidden;
}

#gameTitle {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}

#startButton {
    margin-left: 150;
    margin-top: 500px;
    border-radius: 5px;
    width: auto;
    height: 50px;
    color: white;
    font-weight: 900;
    font-style:italic;
    font-size: large;
    background-color: red;
    background-image: url("images/characters/villains/villain.gif");
    background-size: cover;
}


#creditsButton {

    color: black;
    font-weight: 900;
    font-style:italic;
    font-size: large;
    background-image: url("images/characters/main/leprechaun_walking_RIGHT.gif");
    background-size: cover;
    width: auto;
    height: 50px;
    border-radius: 5px;
    background-color: green;
}

h3 {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#levelTarget {
    width: auto;
    height: 100px;
    background-image: url("images/other/leprecoin.png");
    background-repeat: no-repeat;
}

#thePlayer {
    position: absolute;
    background-image: url("/images/characters/main/leprechaun.gif");
    width: 30px;
    height: 60px;


    /* 
    width: 500;
    height: 500px;

    background-image: url("images/monkey_standing_1.png");
    background-repeat: no-repeat; */
}

#theThief {
    position: 50%;
    width: 50px;
    height: 70px;
    background-image: url("/images/characters/villains/villain.gif");
    /*    background-image: url("/images/villain_attack.png");*/
}

#theEnemy {
    position: absolute;
    bottom: 53%;
    width: 40;
    height: 25;
    left:35%;
    background-image: url("/images/characters/villains/black_dog.gif");
    /*    background-image: url("/images/villain_attack.png");*/
}

#floors div {
    background-color: cyan;
    position: absolute;
    border-radius: 5px;
    height: 20px;
}