body {
    background-color: black;
    overflow: hidden;
}

.inner {
    position: relative;
    width: 1280px;
    height: 720px;
    margin: auto;
    margin-top: 10vh;
}

#welcome-screen{
    width: 1280px;
    height: 720px;
    top: 0;
}

#EST, #ENG{
    position: absolute;
}

.tile-row {}

#start-menu {
    background-image: url("/images/main_menu_gamename.png");
    background-size: cover;
    width: 1280px;
    height: 720px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
}

#paused-menu, #death-screen {
    position: absolute;
}

#paused-menu:not([hidden]), #death-screen:not([hidden]) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    z-index: 999;
}

#startButton {
    margin-left: 650;
    margin-top: 550px;
    border-radius: 5px;
    width: auto;
    height: 50px;
    color: white;
    font-weight: 900;
    font-style: italic;
    font-size: large;
    background-color: red;
    background-image: url("images/characters/villains/villain.gif");
    background-size: cover;
}

#creditsButton {
    color: black;
    font-weight: 900;
    font-style: italic;
    font-size: large;
    background-image: url("images/characters/main/leprechaun_walking_RIGHT.gif");
    background-size: cover;
    width: auto;
    height: 50px;
    border-radius: 5px;
    background-color: green;
}

#continueButton {

    border-radius: 5px;
    width: auto;
    height: 50px;
    color: white;
    font-weight: 900;
    font-style: italic;
    font-size: large;
    background-color: red;
    background-image: url("images/characters/villains/villain.gif");
    background-size: cover;
}

#restartButtonPause,#restartButtonDeath {

    border-radius: 5px;
    width: auto;
    height: 50px;
    color: white;
    font-weight: 900;
    font-style: italic;
    font-size: large;
    background-color: red;
    background-image: url("images/characters/villains/villain.gif");
    background-size: cover;
}

#leprecoin {
    position: absolute;
    top: 120;
    left: 400;
    width: 40;
    height: 40;
    background-image: url("images/leprecoin.png");
}

#character {
    position: absolute;
    bottom: 40px;
    left: 40px;
    background-image: url("images/characters/main/leprechaun.gif");
    background-size: cover;
    width: 40px;
    height: 60px;
}

#enemies,
#flyingEnemies {
    bottom: 0;
    left: 0;
    position: absolute;
}
#projectile {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 360px;
    background-color: red;
}

#userProjectile {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 360px;
    background-color: rgb(5, 255, 5);
}

#flyingSaucer {
    position: absolute;
    bottom: 0;
    left: 40;
    width: 100;
    height: 60;
    background-image: url("images/characters/villains/ufo.gif");
}

#tinyAttacker {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("images/characters/villains/brown_dog.gif");
    background-size: cover;
    width: 40;
    height: 25;
}

#largeAttacker {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("images/characters/villains/brown_dog.gif");
    background-size: cover;
    width: 40;
    height: 60;
}

#lives {
    position: absolute;
    right: 10;
    bottom: 10;
}

#score,
#fps,
#timer {
    top: 0;
    position: absolute;
    color: white;
}

#score {
    left: 200;
}

#fps {
    left: 0;
}

#timer {
    left: 100;
}

#toggleMute,
#togglePause,
#backToMenu {
    position: absolute;
    right: 0;
}

#toggleMute {
    top: 0;
    border-radius: 100%;

}

#togglePause {
    top: 40;
    border-radius: 100%;
}

#backToMenu {
    top: 80;
    border-radius: 100%;
}

#playground {
    background-size: cover;
}